@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;;
}
.registermaincon{
    display: flex;
    flex-direction:column;
    width: 40vw;
    background: whitesmoke;
    align-items: center;
    height: 90vh;
    border-radius: 1.5rem;
    box-shadow: black 5px 4px 15px;
}

.registerHeading{
    margin-top:2rem;
    color: steelblue;

}
.registerHeading1{
    margin-top:.5rem;
    margin-bottom: 0.5rem;
    font-size:1rem;
    color: rgb(11, 15, 19);

}
.registerHeading1 span{
    margin-top:.5rem;
    margin-bottom: 0.5rem;
    font-size:1.2rem;
    color: rgb(15, 126, 236);

}
.registerHeading1 span:hover{
cursor: pointer;
font-size:1.3rem;
color: rgb(62, 151, 240);
}
form{
    display: flex;
    flex-direction: column;
}

.registerlabel{
    display:block;
    /* margin-top: 2rem; */
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}


.registerinput{
    width: 300px;
    height: 30px;
    border:none;
    border-bottom: 2px solid gray;
    outline: none;
    background: rgb(247, 245, 245);
    margin:.5rem .5rem .5rem 0rem;
}

.genderdiv{
    display: flex;
    flex-direction: row;
}


.reigsterlabel{
    margin:0.5rem 0.5rem 0rem 0rem;

}
.registerinputgen{
    margin-top: 0.2rem;
    padding: 0.5rem;
    margin-left: 2rem;
}

.btndiv{
    margin: -1.5rem;
}
.registerbtn{
    margin: 1rem;
    margin-top: 1.8rem;
    width: 300px;
    text-align: center;
  padding:0.5rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  color: whitesmoke;
  background: rgb(11, 117, 238);

}
.registerbtn:hover{
    cursor: pointer;
   background-color: rgb(2, 37, 133);
  font-size: 1.6rem;


}